In [ ]:
#  MySQL へLocal接続
#!pip install PyMySQL

import pymysql

#　mySQL stockdbローカル接続

connection = pymysql.connect(host='localhost',
                             user='kunieda',
                             password='Taro.92eda',
                             db='test',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

In [5]:
#  さくらMySQL test へRemote接続
#!pip install PyMySQL

import pymysql

#　mySQL stockdb

connection = pymysql.connect(host='ik1-129-71250.vs.sakura.ne.jp',
                             user='kunieda',
                             password='Taro.92eda',
                             db='test',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

cur = connection.cursor()
connection

In [6]:
cur = connection.cursor()
result = cur.execute('select * from t4')
result

2

In [ ]:
# MySQL db table いかんたんなリスト更新登録　１


values=["Etsuo"]

sql = ('''
INSERT INTO t3 
        (name)
VALUES 
        (%s)

''')
connection.commit()

In [ ]:
# MySQL db table かんたんなリスト更新登録2


values=[tuple([5, "etsuo"])]

sql = ('''
INSERT INTO t3 
        (id, name)
VALUES 
        (%s,%s)

''')
connection.commit()

In [ ]:
# MySQL db table positionsにpositionsリスト更新登録
import datetime 

now = datetime.datetime.now()

values=[tuple([2, '2023-11-14 02:44:38.842865',now]),
       tuple([3, '2021-10-14 02:44:38.842865',now])]

sql = ('''
INSERT INTO t3 
        (id, ts2, dt2)
VALUES 
        (%s,%s,%s)

''')

connection.commit()

In [ ]:
values
cur.executemany(sql, values)

connection.commit()

In [ ]:


insertAposition(positions)

In [ ]:
# MySQL db table positionsにpositionsリスト更新登録
def insertAposition( positions ):

    
    values =  [ tuple(apos.values()) for apos in positions]

    sql = ('''
    INSERT INTO stock_stock 
        (ExecutionID, AccountType, Symbol, SymbolName, Exchange, ExchangeName, Price, \
        LeavesQty, HoldQty, Side, CurrentPrice, Valuation, ProfitLoss, ProfitLossRate)
    VALUES 
        (%s, %s, %s, %s, %s,%s, %s, %s, %s, %s,%s, %s, %s, %s)
    ''')

    cur.executemany(sql, values)
    connection.commit()

insertAposition(positions)

In [ ]:

       # データ読み込み
sql = "SELECT * FROM `positions`"
cur.execute(sql)
result = cursor.fetchall()
print(result)

In [ ]:
       # データ消去
sql = "TRUNCATE TABLE `positions`"
cur.execute(sql)
result = cursor.fetchall()
print(result)

In [ ]:
connection.close()
connection