In [ ]:
#  MySQL へLocal接続
#!pip install PyMySQL

import pymysql

#　mySQL stockdbローカル接続

connection = pymysql.connect(host='localhost',
                             user='kunieda',
                             password='Taro.92eda',
                             db='stockdb',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

cur = connection.cursor()
connection

In [ ]:
#  さくらMySQL へRemote接続
#!pip install PyMySQL

import pymysql

#　mySQL stockdb

connection = pymysql.connect(host='ik1-129-71250.vs.sakura.ne.jp',
                             user='kunieda',
                             password='Taro.92eda',
                             db='stockdb',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

cur = connection.cursor()
connection

In [ ]:
# Kabu station API test
# 2023/9/28
# E.Kunieda

import urllib.request
import json
import pprint
import time, datetime

# トークン発行

def generate_token():# トークン発行
    obj = { 'APIPassword': 'e2092eda' }
    json_data = json.dumps(obj).encode('utf8')
    
    url = 'http://localhost:18080/kabusapi/token'
    req = urllib.request.Request(url, json_data, method='POST')
    req.add_header('Content-Type', 'application/json')
    
    try:
        with urllib.request.urlopen(req) as res:
            content = json.loads(res.read())
            token_value = content.get('Token')
            pprint.pprint(token_value)
    except urllib.error.HTTPError as e:
        print(e)
        content = json.loads(e.read())
        pprint.pprint(content)
    return token_value
    
   
def get_positions(token):    # 残高照会
    url_symbol = 'http://localhost:18080/kabusapi/positions'
    req_symbol = urllib.request.Request(url_symbol, method='GET')
    req_symbol.add_header('X-API-KEY', token)
    
    try:
        with urllib.request.urlopen(req_symbol) as res_symbol:
            content_symbol = json.loads(res_symbol.read())
#            pprint.pprint(content_symbol)
    except urllib.error.HTTPError as e_symbol:
        print(e_symbol)
        content_symbol = json.loads(e_symbol.read())
    return content_symbol
   
    # トークン発行
token_value = generate_token()
# 残高照会
positions = get_positions(token_value)

for apos in positions:
    pprint.pprint(apos['SymbolName'])

In [ ]:
# SQLを操作する

result = cur.execute('select * from stock_stock')

if result != 0:
    with connection.cursor() as cursor:
        sql = "TRUNCATE table stock_stock;"
        cursor.execute(sql)
    
    connection.commit()
    print("*Data Deleted*")    

cur = connection.cursor()
result = cur.execute('select * from stock_stock')
result

In [ ]:
positions

In [41]:
### MySQL db table positionsリスト更新登録 簡易テスト
import datetime
now = datetime.datetime.now()

values =  [(None, 4, '1003', 'パソナグループ', 1, '東証プ', 1749.0, 100.0, 0.0, '2', 1742.0, 174200.0, -700.0, -0.40022870211549455, True, 7, "day", 10, now, now),
        (None, 4, '1002', 'ＲＩＺＡＰグループ', 6, '札証ｱﾝﾋﾞｼｬｽ', 256.0, 4000.0, 0.0, '2', 304.0, 1216000.0, 192000.0, 18.75, True, 6, "day", 10, now, now)
          ]
#values.append(False)
print(values)
sql = ('''
INSERT INTO stock_stock 
        (ExecutionID, AccountType, Symbol, SymbolName, Exchange, ExchangeName, Price, LeavesQty, HoldQty, Side, CurrentPrice, Valuation, ProfitLoss, ProfitLossRate,holding, period,period_type,user_id,
        created_at, updated_at)
VALUES 
        (%s, %s, %s, %s,%s, %s, %s, %s, %s,%s, %s, %s, %s,%s,%s,%s, %s, %s, %s, %s)
ON DUPLICATE KEY UPDATE 
        holding = VALUES(holding),
        SymbolName = VALUES(SymbolName),
        updated_at = VALUES(updated_at)
''')

[(None, 4, '1003', 'パソナグループ', 1, '東証プ', 1749.0, 100.0, 0.0, '2', 1742.0, 174200.0, -700.0, -0.40022870211549455, True, 7, 'day', 10, datetime.datetime(2023, 11, 15, 21, 47, 25, 429549), datetime.datetime(2023, 11, 15, 21, 47, 25, 429549)), (None, 4, '1002', 'ＲＩＺＡＰグループ', 6, '札証ｱﾝﾋﾞｼｬｽ', 256.0, 4000.0, 0.0, '2', 304.0, 1216000.0, 192000.0, 18.75, True, 6, 'day', 10, datetime.datetime(2023, 11, 15, 21, 47, 25, 429549), datetime.datetime(2023, 11, 15, 21, 47, 25, 429549))]

In [ ]:
# MySQL db table positionsにpositionsリスト更新登録
    
values =  [ tuple(apos.values()) for apos in positions]
#values.append(False)
print(values)
sql = ('''
INSERT INTO stock_stock 
        (ExecutionID, AccountType, Symbol, SymbolName, Exchange, ExchangeName, Price, \
        LeavesQty, HoldQty, Side, CurrentPrice, Valuation, ProfitLoss, ProfitLossRate)
VALUES 
        (%s, %s, %s, %s, %s,%s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s)
ON DUPLICATE KEY UPDATE
''')

connection.commit()

In [ ]:
# MySQL db table positionsにpositionsリスト更新登録２
values = []
for apos in positions:
    apost = tuple(apos.values()) 
    apostt = apost
    
    values.append(apostt)
    
print(values)
sql = ('''
INSERT INTO stock_stock 
        (ExecutionID, AccountType, Symbol, SymbolName, Exchange, ExchangeName, Price, \
        LeavesQty, HoldQty, Side, CurrentPrice, Valuation, ProfitLoss, ProfitLossRate)
VALUES 
        (%s, %s, %s, %s, %s,%s, %s, %s, %s, %s,%s, %s, %s, %s)
ON DUPLICATE KEY UPDATE
''')

connection.commit()

In [42]:
cur.executemany(sql, values)
connection.commit()

In [ ]:
# MySQL db table positionsにpositionsリスト更新登録
def insertAposition( positions ):

    
    values =  [ tuple(apos.values()) for apos in positions]

    sql = ('''
    INSERT INTO stock_stock 
        (ExecutionID, AccountType, Symbol, SymbolName, Exchange, ExchangeName, Price, \
        LeavesQty, HoldQty, Side, CurrentPrice, Valuation, ProfitLoss, ProfitLossRate)
    VALUES 
        (%s, %s, %s, %s, %s,%s, %s, %s, %s, %s,%s, %s, %s, %s)
    ''')

    cur.executemany(sql, values)
    connection.commit()

insertAposition(positions)

In [ ]:

       # データ読み込み
sql = "SELECT * FROM `positions`"
cur.execute(sql)
result = cursor.fetchall()
print(result)

In [ ]:
       # データ消去
sql = "TRUNCATE TABLE `positions`"
cur.execute(sql)
result = cursor.fetchall()
print(result)

In [ ]:
[(None, 4, '2168', 'パソナグループ', 1, '東証プ', 1749.0, 100.0, 0.0, '2', 1742.0, 174200.0, -700.0, -0.40022870211549455, True, 7, 'day', 1, '2023-11-15 22:14:58.184286', '2023-11-15 22:14:58.184286'), (None, 4, '2928', 'ＲＩＺＡＰグループ', 6, '札証ｱﾝﾋﾞｼｬｽ', 256.0, 4000.0, 0.0, '2', 304.0, 1216000.0, 192000.0, 18.75, True, 7, 'day', 1, '2023-11-15 22:14:58.184286', '2023-11-15 22:14:58.184286'), (None, 4, '6758', 'ソニーグループ', 1, '東証プ', 13034.0, 100.0, 100.0, '2', 13220.0, 1322000.0, 18600.0, 1.427036980205616, True, 7, 'day', 1, '2023-11-15 22:14:58.184286', '2023-11-15 22:14:58.184286'), (None, 4, '6993', '大黒屋ホールディングス', 1, '東証ス', 58.0, 10000.0, 0.0, '2', 43.0, 430000.0, -150000.0, -25.862068965517242, True, 7, 'day', 1, '2023-11-15 22:14:58.184286', '2023-11-15 22:14:58.184286'), (None, 4, '7012', '川崎重工業', 1, '東証プ', 3919.0, 400.0, 0.0, '2', 3385.0, 1354000.0, -213600.0, -13.625924980862465, True, 7, 'day', 1, '2023-11-15 22:14:58.184286', '2023-11-15 22:14:58.184286'), (None, 4, '7013', 'ＩＨＩ', 1, '東証プ', 3295.0, 600.0, 0.0, '2', 2870.0, 1722000.0, -255000.0, -12.898330804248863, True, 7, 'day', 1, '2023-11-15 22:14:58.184286', '2023-11-15 22:14:58.184286'), (None, 4, '7752', 'リコー', 1, '東証プ', 1214.0, 700.0, 0.0, '2', 1213.5, 849450.0, -350.0, -0.04118616144975288, True, 7, 'day', 1, '2023-11-15 22:14:58.184286', '2023-11-15 22:14:58.184286'), (None, 4, '8316', '三井住友フィナンシャルグループ', 1, '東証プ', 6309.0, 100.0, 0.0, '2', 7152.0, 715200.0, 84300.0, 13.36186400380409, True, 7, 'day', 1, '2023-11-15 22:14:58.184286', '2023-11-15 22:14:58.184286'), (None, 4, '9101', '日本郵船', 1, '東証プ', 3131.0, 200.0, 0.0, '2', 3708.0, 741600.0, 115400.0, 18.428617055253913, True, 7, 'day', 1, '2023-11-15 22:14:58.184286', '2023-11-15 22:14:58.184286'), (None, 4, '9119', '飯野海運', 1, '東証プ', 1089.0, 1100.0, 0.0, '2', 1122.0, 1234200.0, 36300.0, 3.0303030303030303, True, 7, 'day', 1, '2023-11-15 22:14:58.184286', '2023-11-15 22:14:58.184286'), (None, 4, '9142', '九州旅客鉄道', 1, '東証プ', 3033.0, 200.0, 0.0, '2', 3070.0, 614000.0, 7400.0, 1.2199142762940982, True, 7, 'day', 1, '2023-11-15 22:14:58.184286', '2023-11-15 22:14:58.184286'), (None, 4, '9501', '東京電力ホールディングス', 1, '東証プ', 616.0, 1700.0, 0.0, '2', 660.0, 1122000.0, 74800.0, 7.142857142857143, True, 7, 'day', 1, '2023-11-15 22:14:58.184286', '2023-11-15 22:14:58.184286'), (None, 4, '9503', '関西電力', 1, '東証プ', 2110.0, 700.0, 0.0, '2', 1919.0, 1343300.0, -133700.0, -9.052132701421801, True, 7, 'day', 1, '2023-11-15 22:14:58.184286', '2023-11-15 22:14:58.184286')]