In [8]:
#  MySQL へLocal接続
#!pip install PyMySQL

import pymysql

#　mySQL stockdbローカル接続

connection = pymysql.connect(host='localhost',
                             user='kunieda',
                             password='Taro.92eda',
                             db='stockdb',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

In [1]:
#  さくらMySQL へRemote接続
#!pip install PyMySQL

import pymysql

#　mySQL stockdb

connection = pymysql.connect(host='ik1-129-71250.vs.sakura.ne.jp',
                             user='kunieda',
                             password='Taro.92eda',
                             db='stockdb',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

In [2]:
connection

In [10]:
# SQLを操作する
cur = connection.cursor()
result = cur.execute('select * from stock_stock')

if result != 0:
    with connection.cursor() as cursor:
        sql = "TRUNCATE table stock_stock;"
        cursor.execute(sql)
    
    connection.commit()
    print("*Data Deleted*")    

cur = connection.cursor()
result = cur.execute('select * from stock_stock')
result

OperationalError: (1701, 'Cannot truncate a table referenced in a foreign key constraint (`stockdb`.`stock_trade`, CONSTRAINT `stock_trade_stock_record_id_0cb5b342_fk_stock_stock_Symbol`)')

In [ ]:
# Kabu station API test
# 2023/9/28
# E.Kunieda

import urllib.request
import json
import pprint
import time, datetime

# トークン発行

def generate_token():# トークン発行
    obj = { 'APIPassword': 'e2092eda' }
    json_data = json.dumps(obj).encode('utf8')
    
    url = 'http://localhost:18080/kabusapi/token'
    req = urllib.request.Request(url, json_data, method='POST')
    req.add_header('Content-Type', 'application/json')
    
    try:
        with urllib.request.urlopen(req) as res:
            content = json.loads(res.read())
            token_value = content.get('Token')
            pprint.pprint(token_value)
    except urllib.error.HTTPError as e:
        print(e)
        content = json.loads(e.read())
        pprint.pprint(content)
    return token_value
    
   
def get_positions(token):    # 残高照会
    url_symbol = 'http://localhost:18080/kabusapi/positions'
    req_symbol = urllib.request.Request(url_symbol, method='GET')
    req_symbol.add_header('X-API-KEY', token)
    
    try:
        with urllib.request.urlopen(req_symbol) as res_symbol:
            content_symbol = json.loads(res_symbol.read())
#            pprint.pprint(content_symbol)
    except urllib.error.HTTPError as e_symbol:
        print(e_symbol)
        content_symbol = json.loads(e_symbol.read())
    return content_symbol
   
    # トークン発行
token_value = generate_token()
# 残高照会
positions = get_positions(token_value)

for apos in positions:
    pprint.pprint(apos['SymbolName'])

In [7]:
positions

[{'ExecutionID': None,
  'AccountType': 4,
  'Symbol': '2168',
  'SymbolName': 'パソナグループ',
  'Exchange': 1,
  'ExchangeName': '東証プ',
  'Price': 1749.0,
  'LeavesQty': 100.0,
  'HoldQty': 0.0,
  'Side': '2',
  'CurrentPrice': 1402.0,
  'Valuation': 140200.0,
  'ProfitLoss': -34700.0,
  'ProfitLossRate': -19.839908519153802},
 {'ExecutionID': None,
  'AccountType': 4,
  'Symbol': '2928',
  'SymbolName': 'ＲＩＺＡＰグループ',
  'Exchange': 6,
  'ExchangeName': '札証ｱﾝﾋﾞｼｬｽ',
  'Price': 256.0,
  'LeavesQty': 4000.0,
  'HoldQty': 0.0,
  'Side': '2',
  'CurrentPrice': 279.0,
  'Valuation': 1116000.0,
  'ProfitLoss': 92000.0,
  'ProfitLossRate': 8.984375},
 {'ExecutionID': None,
  'AccountType': 4,
  'Symbol': '6758',
  'SymbolName': 'ソニーグループ',
  'Exchange': 1,
  'ExchangeName': '東証プ',
  'Price': 13034.0,
  'LeavesQty': 100.0,
  'HoldQty': 100.0,
  'Side': '2',
  'CurrentPrice': 13085.0,
  'Valuation': 1308500.0,
  'ProfitLoss': 5100.0,
  'ProfitLossRate': 0.39128433328218504},
 {'ExecutionID': None,
  'AccountType': 4,
  'Symbol': '6993',
  'SymbolName': '大黒屋ホールディングス',
  'Exchange': 1,
  'ExchangeName': '東証ス',
  'Price': 58.0,
  'LeavesQty': 10000.0,
  'HoldQty': 0.0,
  'Side': '2',
  'CurrentPrice': 45.0,
  'Valuation': 450000.0,
  'ProfitLoss': -130000.0,
  'ProfitLossRate': -22.413793103448278},
 {'ExecutionID': None,
  'AccountType': 4,
  'Symbol': '7012',
  'SymbolName': '川崎重工業',
  'Exchange': 1,
  'ExchangeName': '東証プ',
  'Price': 3919.0,
  'LeavesQty': 400.0,
  'HoldQty': 0.0,
  'Side': '2',
  'CurrentPrice': 3453.0,
  'Valuation': 1381200.0,
  'ProfitLoss': -186400.0,
  'ProfitLossRate': -11.890788466445521},
 {'ExecutionID': None,
  'AccountType': 4,
  'Symbol': '7013',
  'SymbolName': 'ＩＨＩ',
  'Exchange': 1,
  'ExchangeName': '東証プ',
  'Price': 3295.0,
  'LeavesQty': 600.0,
  'HoldQty': 0.0,
  'Side': '2',
  'CurrentPrice': 3002.0,
  'Valuation': 1801200.0,
  'ProfitLoss': -175800.0,
  'ProfitLossRate': -8.89226100151745},
 {'ExecutionID': None,
  'AccountType': 4,
  'Symbol': '7752',
  'SymbolName': 'リコー',
  'Exchange': 1,
  'ExchangeName': '東証プ',
  'Price': 1214.0,
  'LeavesQty': 700.0,
  'HoldQty': 0.0,
  'Side': '2',
  'CurrentPrice': 1255.5,
  'Valuation': 878850.0,
  'ProfitLoss': 29050.0,
  'ProfitLossRate': 3.4184514003294892},
 {'ExecutionID': None,
  'AccountType': 4,
  'Symbol': '8316',
  'SymbolName': '三井住友フィナンシャルグループ',
  'Exchange': 1,
  'ExchangeName': '東証プ',
  'Price': 6309.0,
  'LeavesQty': 100.0,
  'HoldQty': 0.0,
  'Side': '2',
  'CurrentPrice': 7340.0,
  'Valuation': 734000.0,
  'ProfitLoss': 103100.0,
  'ProfitLossRate': 16.341734030749723},
 {'ExecutionID': None,
  'AccountType': 4,
  'Symbol': '9101',
  'SymbolName': '日本郵船',
  'Exchange': 1,
  'ExchangeName': '東証プ',
  'Price': 3131.0,
  'LeavesQty': 200.0,
  'HoldQty': 0.0,
  'Side': '2',
  'CurrentPrice': 3594.0,
  'Valuation': 718800.0,
  'ProfitLoss': 92600.0,
  'ProfitLossRate': 14.787607793037369},
 {'ExecutionID': None,
  'AccountType': 4,
  'Symbol': '9119',
  'SymbolName': '飯野海運',
  'Exchange': 1,
  'ExchangeName': '東証プ',
  'Price': 1089.0,
  'LeavesQty': 1100.0,
  'HoldQty': 0.0,
  'Side': '2',
  'CurrentPrice': 1155.0,
  'Valuation': 1270500.0,
  'ProfitLoss': 72600.0,
  'ProfitLossRate': 6.0606060606060606},
 {'ExecutionID': None,
  'AccountType': 4,
  'Symbol': '9142',
  'SymbolName': '九州旅客鉄道',
  'Exchange': 1,
  'ExchangeName': '東証プ',
  'Price': 3033.0,
  'LeavesQty': 200.0,
  'HoldQty': 0.0,
  'Side': '2',
  'CurrentPrice': 3128.0,
  'Valuation': 625600.0,
  'ProfitLoss': 19000.0,
  'ProfitLossRate': 3.1322123310253875},
 {'ExecutionID': None,
  'AccountType': 4,
  'Symbol': '9501',
  'SymbolName': '東京電力ホールディングス',
  'Exchange': 1,
  'ExchangeName': '東証プ',
  'Price': 616.0,
  'LeavesQty': 1700.0,
  'HoldQty': 0.0,
  'Side': '2',
  'CurrentPrice': 690.6,
  'Valuation': 1174020.0,
  'ProfitLoss': 126820.0,
  'ProfitLossRate': 12.11038961038961},
 {'ExecutionID': None,
  'AccountType': 4,
  'Symbol': '9503',
  'SymbolName': '関西電力',
  'Exchange': 1,
  'ExchangeName': '東証プ',
  'Price': 2110.0,
  'LeavesQty': 700.0,
  'HoldQty': 0.0,
  'Side': '2',
  'CurrentPrice': 2014.5,
  'Valuation': 1410150.0,
  'ProfitLoss': -66850.0,
  'ProfitLossRate': -4.5260663507109005}]

In [11]:
# MySQL db table positionsにpositionsリスト更新登録
    
values =  [ tuple(apos.values()) for apos in positions]
#values.append(False)
print(values)
sql = ('''
INSERT INTO stock_stock 
        (ExecutionID, AccountType, Symbol, SymbolName, Exchange, ExchangeName, Price, \
        LeavesQty, HoldQty, Side, CurrentPrice, Valuation, ProfitLoss, ProfitLossRate)
VALUES 
        (%s, %s, %s, %s, %s,%s, %s, %s, %s, %s,%s, %s, %s, %s)
ON DUPLICATE KEY UPDATE
''')

connection.commit()

[(None, 4, '2168', 'パソナグループ', 1, '東証プ', 1749.0, 100.0, 0.0, '2', 1402.0, 140200.0, -34700.0, -19.839908519153802), (None, 4, '2928', 'ＲＩＺＡＰグループ', 6, '札証ｱﾝﾋﾞｼｬｽ', 256.0, 4000.0, 0.0, '2', 279.0, 1116000.0, 92000.0, 8.984375), (None, 4, '6758', 'ソニーグループ', 1, '東証プ', 13034.0, 100.0, 100.0, '2', 13085.0, 1308500.0, 5100.0, 0.39128433328218504), (None, 4, '6993', '大黒屋ホールディングス', 1, '東証ス', 58.0, 10000.0, 0.0, '2', 45.0, 450000.0, -130000.0, -22.413793103448278), (None, 4, '7012', '川崎重工業', 1, '東証プ', 3919.0, 400.0, 0.0, '2', 3453.0, 1381200.0, -186400.0, -11.890788466445521), (None, 4, '7013', 'ＩＨＩ', 1, '東証プ', 3295.0, 600.0, 0.0, '2', 3002.0, 1801200.0, -175800.0, -8.89226100151745), (None, 4, '7752', 'リコー', 1, '東証プ', 1214.0, 700.0, 0.0, '2', 1255.5, 878850.0, 29050.0, 3.4184514003294892), (None, 4, '8316', '三井住友フィナンシャルグループ', 1, '東証プ', 6309.0, 100.0, 0.0, '2', 7340.0, 734000.0, 103100.0, 16.341734030749723), (None, 4, '9101', '日本郵船', 1, '東証プ', 3131.0, 200.0, 0.0, '2', 3594.0, 718800.0, 92600.0, 14.787607793037369), (None, 4, '9119', '飯野海運', 1, '東証プ', 1089.0, 1100.0, 0.0, '2', 1155.0, 1270500.0, 72600.0, 6.0606060606060606), (None, 4, '9142', '九州旅客鉄道', 1, '東証プ', 3033.0, 200.0, 0.0, '2', 3128.0, 625600.0, 19000.0, 3.1322123310253875), (None, 4, '9501', '東京電力ホールディングス', 1, '東証プ', 616.0, 1700.0, 0.0, '2', 690.6, 1174020.0, 126820.0, 12.11038961038961), (None, 4, '9503', '関西電力', 1, '東証プ', 2110.0, 700.0, 0.0, '2', 2014.5, 1410150.0, -66850.0, -4.5260663507109005)]

In [12]:
values
cur.executemany(sql, values)

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 5")

In [6]:
connection.commit()

insertAposition(positions)

NameError: name 'insertAposition' is not defined

In [ ]:
# MySQL db table positionsにpositionsリスト更新登録
def insertAposition( positions ):

    
    values =  [ tuple(apos.values()) for apos in positions]

    sql = ('''
    INSERT INTO stock_stock 
        (ExecutionID, AccountType, Symbol, SymbolName, Exchange, ExchangeName, Price, \
        LeavesQty, HoldQty, Side, CurrentPrice, Valuation, ProfitLoss, ProfitLossRate)
    VALUES 
        (%s, %s, %s, %s, %s,%s, %s, %s, %s, %s,%s, %s, %s, %s)
    ''')

    cur.executemany(sql, values)
    connection.commit()

insertAposition(positions)

In [ ]:

       # データ読み込み
sql = "SELECT * FROM `positions`"
cur.execute(sql)
result = cursor.fetchall()
print(result)

In [ ]:
       # データ消去
sql = "TRUNCATE TABLE `positions`"
cur.execute(sql)
result = cursor.fetchall()
print(result)